.House{
    justify-content: space-between;
    display: flex;
    background-color:lightyellow;
}

.sub{
    height: 50px;
}

.map{
padding-right:50% ;

}

.first class{
justify-content: space-between;
display: flex;
height: 550px;
width: 400px;
}

























